<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <responsive-child>

      <div class="image-slider">
        <div class="first"><img draggable="false" src="./assets/after<%=house.number%>.JPG"></div>
        <div class="second"> <img draggable="false" src="./assets/before<%=house.number%>.JPG"></div>
      </div>
      <div class="notes">
        <div class="location">Location: <strong><%= house.location %></strong></div>
        <div class="source">Source: Google Street View</div>
      </div>

    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
